.head {
    flex-direction: column;
}

h1 {
    font-weight: 700;
    color: #fff;
    line-height: 1em;
}
#header {
    display: flex; 
    justify-content: space-between;
    margin: 50px;
}

#footer {
    position: relative;
}

#footer:hover {
    color: #7289DA;
}

#widget {
    position: relative;
}

#btn {
    border-radius: 20px;
}