nav {
  background-color: transparent;
}

.icon, #lglt {
  border-radius: 15%;
}

.swal-footer {
  background-color: rgb(245, 248, 250);
  margin-top: 32px;
  border-top: 1px solid #E9EEF1;
  overflow: hidden;
  text-align: center;
}

.swal-modal {
  text-align: center;
}

html, body {
  height: 100%;
  overflow-x: hidden;
  width: 100%; 
}

@media screen and (max-height: 640px) {
  html, body {
    height: auto;
    min-height: 100%; 
  } 
}
@media screen and (max-width: 1680px) {
  body, input, select, textarea {
    font-size: 12pt; 
  } 
}
@media screen and (max-width: 1280px) {
  body, input, select, textarea {
    font-size: 11pt; 
  } 
}
@media screen and (max-width: 980px) {
  body, input, select, textarea {
    font-size: 12pt; 
  } 
}
@media screen and (max-width: 736px) {
  body, input, select, textarea {
    font-size: 12pt; 
  } 
}
@media screen and (max-width: 480px) {
  body, input, select, textarea {
    font-size: 12pt; 
  } 
}